body {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 100%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #FAF9F6;
}
.header_login {
  height: var(--tamanho-header);
  border-bottom: 2px solid #FAF9F6;
}

.header_login .container_login {
  position: relative;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #161617;
}

.container_login {
  display: flex;
  width: 100%;
  margin: auto;
}

.header .container {
  position: relative;
  z-index: 1;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-color: #161617;
}

.header a {
  text-decoration: none;
  color: #FAF9F6;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #FAF9F6;
}

.navbar_conteudo {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  color: #FAF9F6;
}

.navbar_login_cadastro {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  color: #FAF9F6;
}

.titulo {
  color: #FAF9F6;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

.banner {
  height: var(--tamanho-banner);
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  font-size: 36px;
  color: #FAF9F6;
  width: 280px;
}

.banner .container span {
  font-weight: 800;
}

.social {
  background-color: #FAF9F6;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box {
  width: 280px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box p {
  text-align: center;
}

.login {
  height: var(--tamanho-login);
  /* background-image: url('../assets/imgs/bg-jelly-fish-para-home.png'); */
  background-size: cover;
}

.container video {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 45%;
  background-color: #161617;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: #62922e;
  row-gap: 20px;
}

.card-cadastro {
  height: 80%;
}

.card-login {
  height: 90%;
}

.card h2 {
  margin: 0;
  font-size: 30px;
  ;
}

.formulario {
  display: flex;
  height: 60%;
  width: 50%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #62922e;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #FAF9F6;
  background-color: #62922e;
  width: 120px;
  height: 30px;
  align-self: center;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}


.footer {
  position: relative;
  height: var(--tamanho-footer);
  width: 100%;
  background-color: #161617;
  color: #FAF9F6;
}

.footer h4 {
  margin: 0;
}

.footer .container {
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.footer .container .version {
  font-size: 12px;
  font-weight: 800;
}

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

.container .card {
  position: relative;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.icon_login {
  width: 15%;
  height: 15%;
}

.brand_titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_login a {
  color: #FAF9F6;
  text-decoration: none;
}
.container .gif_index {
  position: relative;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}